/* Variables */
:root {
    --accent: #0e7490;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --rose-700: #be123c;
    --slate-50: #f8fafc;
    --slate-200: #e2e8f0;
    --slate-800: #1e293b;
}

/* Utility Classes */



/* Universal Styles */

body {
    color: var(--slate-800);
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-size: 1.65rem;
    font-weight: normal;
}

/* Header Styles */

header {
    background-color: var(--slate-50);
    border-bottom: 1px solid var(--slate-200);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

/* Media Query */

